@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.border {
    border-radius: 7px;
}

.line {
    width: 445px;
    background-color: #0D6EFD;
    height: 1px;
}