@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

a {
    /*settingan properti teks header == SMARIPULANG & PILIHAN*/
    color: inherit;
    text-decoration: none;
}

.namapanjang {
    /*settingan header paling atas yang teks kecil*/
    padding: 8px 0;
    /*jarak atas bawah teks header kecil paling atas*/
    background-color: #2A46F5;
    /*warna background*/
    font-size: 10px;
    /*ukuran font*/
}

p1 {
    /*settingan warna teks header paling atas paling kecil*/
    color: #fff;
}

.container {
    /*settingan container dasar*/
    width: 80%;
    /*ukuran lebar container*/
    margin: 0 auto;
    /*settingan agar container terletak di tengah */
}

.container:after {
    /*settingan container bisa di tindih*/
    content: '';
    display: block;
    clear: both;
    /*settingan kosongkan element kiri kanan setelah batas kiri kanan kontainer*/
}

header h1 {
    /*settingan header */
    padding: 15px 0;
    /*settingan jarak smaripulang dengan atas bawahnya */
    float: left;
    /*settingan agar tulisan smaripulang di sebelah kiri */
    color: #2A46F5;
    /*warna teks smaripulang */
}

header ul {
    /*settingan agar list home - contact di kanan*/
    float: right;
}

header ul li {
    /*settingan agar list home - contact lurus ke kanan*/
    display: inline-block;
}

header ul li a {
    /*settingan teks list home - contact*/
    padding: 25px 20px;
    /*settingan jarak atas bawah list home - contact lurus*/
    display: inline-block;
    /*settingan agar teks block ke tengah*/
}

header ul li a:hover {
    /*settingan warna list home - contact ketika disentuh kursor*/
    background-color: #2A46F5;
    color: #fff;
    border-radius: 10px;
}

.active {
    /*settingan keterangan bahwa user sedang di home(misalnya)*/
    background-color: #2A46F5;
    color: #fff;
    border-radius: 10px;
}

.banner {
    /*settingan banner gambar sekolah*/
    height: 70vh;
    background-image: url(../img/ilus11copy3.jpg);
    background-size: 1370px;
    position: relative;
    display: flex;
    justify-content: center;
    /*agar content di dalam banner tepat di tengah secara vertikal*/
    align-items: center;
    /*agar content di dalam banner tepat di tengah secara horizontal*/
}

.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(54, 78, 230, .1);
}

.banner h2 {
    /*settingan teks di tengah(beserta bordernya)*/
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border: 3px solid #fff;
}

.banner h2:hover {
    /*warna background apabila teks ditengah disentuh kursor*/
    background-color: rgba(54, 78, 230, 0.5);
}

section {
    /*jarak antar section atas bawah*/
    padding: 50px 0;
}

section h3 {
    /*settingan jarak atas bawah, warna, posisi, dan jarak bawah teks h3*/
    text-align: center;
    /*posisi tengah*/
    padding: 20px 0;
    /*jarak dalam atas*/
    color: #2A46F5;
    /*warna*/
    margin-bottom: 25px;
    /*jarak luar bawah*/
}

.about p {
    /*settingan paragraf about*/
    color: #666;
    /*setting warna*/
    text-align: justify;
    /*setting align teks*/
    word-spacing: 2px;
    /*setting jarak spasi*/
    line-height: 25px;
    /*setting jarak ke bawah*/
}

.about,
.service {
    /*settingan jarak dalam bawah teks */
    padding-bottom: 40px;
}

.box {
    /*settingan warna box icon keterangan pelayanan di index*/
    color: #2A46F5;
}

.box .col-4 {
    /*settingan jarak kolom di luar bundar icon*/
    width: 25%;
    /*lebar kolom*/
    padding: 20px;
    /*jarak dalam kanan kiri*/
    margin: 0 43.5px;
    /*jarak luar kanan kiri*/
    box-sizing: border-box;
    text-align: center;
    /*menengahkan teks*/
    float: left;
    /*memposisikan agar objek me list ke kanan*/
}

.icon {
    /*settingan bundaran icon*/
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
    /*jarak luar atas bawah 0 kiri kanan otomatis*/
}

.box .col-4 h4 {
    /*settingan teks dibawah icon*/
    margin: 20px 0;
    /*jarak luar atas bawah teks*/
    font-size: 15px;
    /*ukr font*/
}

footer {
    /*settingan footer*/
    padding: 10px 0;
    /*jarak dalam footer (batas garis dengan teks)*/
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    /*posisi teks fix*/
    left: 0px;
    /*jarak kanan objek dengan batas paling kanan*/
    right: 0px;
    /*jarak kanan objek dengan batas paling kiri*/
    bottom: 0px;
    /*jarak kanan objek dengan batas paling bawah*/
}

.bg-loader {
    /*settingan background loading*/
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    /*settingan index diatas objek manapun*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    /*settingan bundar loading*/
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #2A46F5;
    /*sett warna atas*/
    border-right-color: #2A46F5;
    /*sett warna kanan*/
    border-bottom-color: #2A46F5;
    /*sett warna bawah*/
    animation: rotate .6s linear infinite;
    /*sett animasi berputar*/
}

@keyframes rotate {
    /*sett perputaran (animasi)*/
    100% {
        transform: rotate(360deg);
    }
}

.label {
    /*settingan keterangan label alamat saat ini (Home / ...)*/
    background-color: #2A46F5;
    padding: 8px 0;
    /*jarak dalam atas bawah*/
}

.label .container p {
    /*settingan teks label*/
    color: #fff;
    font-size: 15px;
}

.about .container img {
    /*settingan gambar di atas teks about*/
    display: block;
    margin: auto;
    padding-bottom: 70px;
    /*jarak dalam bawah*/
}

.about .container p {
    padding-bottom: 50px;
}

.about .container ol li {
    /*settingan teks yang ber list (misi dan tujuan)*/
    color: #666;
    text-align: justify;
    word-spacing: 2px;
    /*jarak spasi antar teks*/
    line-height: 25px;
    /*jarak per baris teks ke bawah*/
}

.about .container .visi {
    /*settingan tengah deskripsi teks visi*/
    text-align: center;
}

.about .container .p-about {
    /*settingan tengah deskripsi teks about*/
    text-align: center;
}

.contact .container .container-contact {
    /*settingan container contact*/
    background-color: rgba(255, 255, 255, 0.3);
    /*warna background beserta opasitasnya*/
    border-radius: 10px;
    margin-right: 320px;
    /*jarak luar kanan*/
    margin-left: 320px;
    /*jarak luar kiri*/
    margin-bottom: 130px;
    /*jarak luar atas*/
    padding: 20px 70px;
    /*jarak dalam atas bawah 20 kiri kanan 70*/
    box-shadow: 1px 1px 4px black;
    /*sett bayangan kotak*/
}

.contact .container p {
    /*settingan teks dalam kontainer kontak*/
    padding: 20px 0;
    /*jarak dalam atas bawah*/
    font-size: 17px;
    color: black;
    font-weight: bold;
    /*gaya font tebal*/
}

.contact .container i {
    /*settingan icon dalam kontainer kontak*/
    font-size: 23px;
    margin-right: 20px;
    /*jarak luar kanan*/
}

.contact .container .container-contact a:hover {
    /*settingan jika teks dalam kontainer kontak disentuh kursor*/
    color: #2A46F5;
}

.contact .container iframe {
    /*settingan g maps*/
    border-radius: 10px;
    /*sudut*/
    margin-bottom: 50px;
    /*jarak bawah*/
}

.container-login1 {
    /*settingan container login*/
    width: 300px;
    /*lebar*/
    height: 350px;
    /*tinggi*/
    background-color: rgba(0, 0, 0, .19);
    border-radius: 20px;
    z-index: 2;
    box-shadow: 1px 2px 10px black;
    /* x y z || horizontal, vertikal, tingkat blur, warna */
}

#bg-contact {
    /*settingan background contact*/
    background-image: url(../img/iluspergisekolah.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 750px 750px;
    background-color: rgba(22, 185, 246, .3);
}

.banner .container-login1 p {
    /*settingan teks login admin*/
    padding-top: 30px;
    /*batas dalam atas*/
    text-align: center;
    color: #0B37FF;
    text-shadow: 1px 1px 3px #fff;
    font-size: 25px;
    font-family: "Copperplate";
    z-index: 3;
    /*mengatur indeks di atas objek*/
    font-weight: bold;
}

form {
    /*settingan form */
    position: absolute;
    margin-right: 55px;
    margin-left: 55px;
    margin-top: 55px;
    margin-bottom: 40px;
}

label {
    /*settingan label form (teks username dan password)*/
    font-family: "Desdemona";
    font-size: 20px;
    color: #E4EAF5;
    font-weight: bold;
    letter-spacing: 0px;
}

.inputuser {
    /*settingan kolom input*/
    border: 0px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 0 10px;
    background-color: rgba(238, 204, 238, 1);
}

.submit {
    /*settingan button login*/
    height: 40px;
    width: 100px;
    position: absolute;
    margin: auto;
    /*setting agar teks ditengah*/
    left: 0;
    right: 0;
    margin-top: 40px;
    border: 0px;
    border-radius: 50px;
    background: linear-gradient(to right, #153E81, #2F7AF5);
    /*gradien warna background*/
    box-shadow: 1px 1px 2px black;
    font-weight: bold;
}

.submitgagal {
    /*settingan button login (jika login gagal)*/
    height: 40px;
    width: 100px;
    position: absolute;
    margin: auto;
    /*setting agar teks ditengah*/
    left: 0;
    right: 0;
    margin-top: 47px;
    border: 0px;
    border-radius: 50px;
    background: linear-gradient(to right, #153E81, #2F7AF5);
    /*gradien warna background*/
    box-shadow: 1px 1px 2px black;
    font-weight: bold;
}

.submit:hover {
    /*setting pada saat submit disentuh kursor*/
    color: white;
}

.submitgagal:hover {
    /*setting pada saat login gagal, submit disentuh kursor*/
    color: white;
}

p2 {
    /*settingan teks gagal login*/
    font-size: 14px;
    color: black;
    font-weight: bold;
    z-index: 3;
    letter-spacing: .5px;
}

.container-gagal {
    /*settingan container gagal login*/
    height: 40px;
    width: 300px;
    margin-top: -63px;
    z-index: 3;
    padding: 8px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(248, 0, 26, .4);
    border-radius: 10px;
}

#header2 ul li {
    /*settingan header di pelayanan*/
    display: inline-block;
    padding: 5px 10px;
    background-color: #15A6FF;
    margin: 3px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #666;
    font-weight: bold;
    color: #021825;
}

#header2 ul li:hover {
    /*settingan warna header di pelayanan ketika disentuh cursor*/
    background-color: #021825;
    color: #15A6FF;
}

#header2 ul .active-service {
    /*settingan keterangan alamat user header di pelayanan (di list siswa misal)*/
    background-color: #021825;
    color: #15A6FF;
}

#header2 ul {
    /*settingan border di atas dan dibawah header di pelayanan*/
    display: inline-block;
    border-radius: 5px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    padding: 5px 0;
    /*jarak dalam atas bawah 5 dan kiri kanan 0*/
}

header {
    /*settingan warna background header di pelayanan*/
    background-color: #fff;
}

#daftar {
    /*settingan teks keterangan di pelayanan di bawah header (list siswa misal)*/
    text-align: left;
    padding: 50px 0;
    color: black;
    margin-bottom: 25px;
}

.loginAdm {
    border: 0px;
    box-shadow: 1px 1px 2px black;
    height: 25px;
    width: 100px;
    position: relative;
    left: 1050px;
    bottom: 0;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    background-color: #037DC4;
    color: #fff;
}

.loginAdm:hover {
    background-color: #fff;
    color: #037DC4;
}